.vBox-background {
            -fx-background-color: #5F9EA0;
}
.vBox-background {
        -fx-background-color: #5F9EA0;
}

.text-field {
    -fx-font-size: 28;
}

.buttons {

    -fx-font-size: 20;
}